.demo {
    width: 600px;
    margin: 20px auto;
    border: 1px solid #d4d4d4;
    padding: 10px;
    color: #4F6B72;
    font-family: "PT Sans", Verdana, Arial, sans-serif;
    font-size: 13px;
}

.demo .permalink{
    display: block;
    color:#4F6B72;
    text-decoration: none;
    margin: 10px 0;
}

.demo .permalink:hover{
    text-decoration: underline;
}

.demo ul, .demo li {
    margin: 0;
    padding: 0;
}

.demo .drop-menu-main a, .demo .drop-down, .demo .drop-menu-main-sub .title {
    text-decoration: none;
    color: #555555;
    padding: 0 10px 0 0;
}

.demo .drop-menu-main {
    padding: 4px;
    height: 20px;
    position: relative;
}

.demo .drop-menu-main li {
    float: left;
    margin-right: 40px;
}

.demo .drop-menu-main-sub {
    display: none;
    position: absolute;
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
    z-index: 100;
    width: 130px;
    padding: 5px 0 5px;
    margin: -29px 0 0 -15px;
}

.demo .drop-menu-main-sub a {
    color: #555555;
    display: block;
    font-size: 11px;
    padding: 6px 15px;
    cursor: pointer;
    text-decoration: none;
}

.demo .drop-menu-main-sub a:hover {
    background: #155FB0;
    color: #FFFFFF;
    text-decoration: none;
}

.demo .drop-menu-main-sub .title{
    display: block;
    padding: 6px 15px;
    cursor: pointer;
    border-bottom: 1px solid #DEDEDE;
}

.demo li {
    list-style: none;
    display: block;
}

.demo .drop-down {
    cursor: pointer;
}

.demo span.arrow{
    font-size: 8px;
}

